body {
    background-color: lavender;
    color: white;
}

.edit-text {
    height: 35%;
    background-color: #5f9ea0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #eeefff;
}

.input-text {
    font-size: 16px;
    height: 20px;
    padding-left: 16px;
    background: none;
    outline: none;
    border: none;
    color: white
}

.content {
    display: none;
    overflow-y: auto;
    height: 65%;
}

.content::-webkit-scrollbar {display:none}

#base {
    border-radius: 6px;
    background-color: khaki;
    color: #2f2f2f;
    padding: 16px;
    margin: 10px;
    min-height: 60px;
    height: auto;
}

#trans {
    color: #2f2f2f;
    padding: 16px;
    margin: 10px;
    background-color: pink;
    border-radius: 6px;
    min-height: 80px;
    height: auto;
}

#phrase {
    padding: 16px;
    margin: 10px;
    color: #2f2f2f;
    background-color: burlywood;
    border-radius: 6px;
    min-height: 180px;
    height: auto;
}

.spinner {
    display: none;
    width: 60px;
    height: 60px;

    position: relative;
    margin: 150px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}